<header id="hero" class="hero">
    <div class="flex-container w-container">
       <div class="div-block-16">
          <h1 class="heading-16">Kevin King</h1>
          <h1 class="heading-17">Founder</h1>
          <p class="paragraph-7">Based in Asheville, NC, breweries are a thing. Through many years of attending music venues, streaming music from home, the car, or subway, and an embarrassing amount of breweries visited, it occurred to me that I would love to hear what a brewery sounds like at any given time. An extension of the physical taproom, if you will. <br><br>Enter Tap'd. The ability to listen live to my favorite breweries around the country as well as to discover new breweries, beers and hopefully make new friends.</p>
          <a href="mailto:tapdappmusic@gmail.com?subject=Hello%2C%20from%20Tap'd" class="button-3 w-button">Say Hello</a>
       </div>
       <div class="hero-image-mask"><img src="https://uploads-ssl.webflow.com/5ea3292ea75e34531c42be58/5f528eea69f9235da26fed27_kevin.png" srcset="https://uploads-ssl.webflow.com/5ea3292ea75e34531c42be58/5f528eea69f9235da26fed27_kevin-p-500.png 500w, https://uploads-ssl.webflow.com/5ea3292ea75e34531c42be58/5f528eea69f9235da26fed27_kevin-p-800.png 800w, https://uploads-ssl.webflow.com/5ea3292ea75e34531c42be58/5f528eea69f9235da26fed27_kevin-p-1080.png 1080w, https://uploads-ssl.webflow.com/5ea3292ea75e34531c42be58/5f528eea69f9235da26fed27_kevin.png 1194w" sizes="(max-width: 479px) 92vw, (max-width: 767px) 95vw, (max-width: 991px) 191px, 403px" alt="" class="hero-image"></div>
    </div>
 </header>