<div class="body-3">
    <div class="form-block w-form">
       <form id="email-form" name="email-form" data-name="Email Form" redirect="tapdappmusic@gmail.com" data-redirect="tapdappmusic@gmail.com" class="form">
          <div style="color:#333"class="text-block-10">Got a suggestion or comment? Or just want to say hello? We'd love to hear from you.</div>
          <label for="name" class="field-label-3">Name</label><input type="text" class="text-field w-input" maxlength="256" name="name" data-name="Name" placeholder="" id="name"><label for="email-3" class="field-label">Email Address</label><input type="email" class="text-field-2 w-input" maxlength="256" name="email" data-name="Email" placeholder="" id="email" required=""><label for="email" class="field-label-2">Message</label><input type="email" class="text-field-3 w-input" maxlength="256" name="email-2" data-name="Email 2" placeholder="" id="email-2" required=""><input type="submit" value="Submit" data-wait="Please wait..." class="submit-button w-button">
       </form>
       <div class="w-form-done">
          <div>Thank you! Your submission has been received!</div>
       </div>
       <div class="w-form-fail">
          <div>Oops! Something went wrong while submitting the form.</div>
       </div>
    </div>
    <div class="div-block-15"></div>
</div>