<div *ngIf="breweryService && breweries && streams"
style="width: 1300px; margin-top: 20px; margin-bottom: 20px; background-color: #fff;"
>
    <div style="display: flex; justify-content: center; align-content: center; flex-direction: column;background-color: #fff;">
        
        <input *ngIf="breweryService" (input)="search()" [(ngModel)]="searchTerm" style="-webkit-border-radius: 20px;
        justify-self: center;
        align-self: center;
        -moz-border-radius: 20px;
        border-radius: 20px;
        font-family: Arial,sans-serif;
        border: 1px solid #2d9fd9;
        color: #000000;
        width: 250px;
        height: 30px;
        padding-left: 10px;" type="text" placeholder="Search" ngDefaultControl>
    </div>

    <div class="w-container">
      <div class="columns-2 w-row" style="display: flex; flex-direction: row; justify-content: center; flex-wrap: wrap;">
         <div *ngFor="let brewery of breweries" class="block w-col w-col-4" style="cursor:pointer; padding-left: 2px;padding-right: 2px;width: 252px;" (click)="emitter.emit(brewery)">
            <div class="w-inline-block">
               <div style="width: 220px; height: 220px;">
                   <img src="{{brewery.url}}"  style="object-fit: contain;" alt="" class="image-11">
                </div>
               <img *ngIf="this.streamService.getStreamFromList(brewery.name, streams).streaming" src="../../assets/dot.png" width="40" style="position: relative; z-index: 1; margin-top: -100px; margin-left: 150px;">
               <img *ngIf="!this.streamService.getStreamFromList(brewery.name, streams).streaming" src="../../assets/redDot.png" width="40" style="position: relative; z-index: 1; margin-top: -100px; margin-left: 150px;">
            </div>
            <h5 class="heading-9"> {{brewery.name}} </h5>
            <div class="text-block-8"> {{brewery.location}} </div>
         </div>
      </div>
   </div>


</div>